.aboutMain {
    padding: 4rem 0 1rem 0;
    margin: auto;
    position: relative;
    right: 5%;

}

.aboutSect {
    padding-top: 4rem;
    font-size: 5.2rem;
    font-family: "Ready Player One";
    z-index: 10;
    position: relative;
    margin-top: 0;
    text-align: center;
    left: 15%;
    top: 151px;
    color: #2C65AC;
    opacity: .8;
}

.cardSect {
    position: relative;
    left: 9%;
}

.skewCard {
    /*transform: skewX(0rad);*/
    transform: skewX(-.15rad);
    background: #fff;
    box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.4);
    width: 550px;
    height: 650px;
    margin: auto;
    z-index: 5;
    position: relative;
    right: 50px;
}

.skewCardBack {
    /*transform: skewX(0rad);*/
    transform: skewX(-.15rad);
    box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.4);
    width: 550px;
    height: 650px;
    margin: auto;
    z-index: 1;
    position: relative;
    top: 80px;
    left: 50px;

    background-image: url("../images/aboutCode.jpg");
    background-repeat: no-repeat;
    background-position: -300px 0px;
    background-size: 180%;
}



.cardCont {
    display: block;
    transform: skewX(.15rad);
    margin: auto;
    padding: 1rem;
    max-width: 500px;
    font-size: 1.3rem;
    text-align: left;
    color: #5c6061;
}

.cardSubTitle {
    font-family: "Ready Player One";
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    margin: auto;
    margin-top: 4rem;
    color: #2C65AC;
}

.cardSubTitle img {
    width: 100%;
    max-width: 400px;
}


.cardCont p {
    font-family: "azo-sans-web";
    position: relative;
    max-width: 430px;
    left: -15px;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 300;
}



.sideLine {
    position: relative;
    left: 76%;
    top: 26%;
}

.sideLine img {
    height: 100%;
    max-height: 425px;
}



.bottomSect {
    font-family: "azo-sans-web";
    text-align: center;
    margin-top: 10rem;
    position: relative;
    left: 5%;
}

.bottomSect h2 {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.botChan1 {
    line-height: 7rem;
    font-size: 5.5rem;
    font-family: "Ready Player One";
}

.bottomLine {
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: -1.5rem;
}


//iPhone X landscape view

@media (width: 812px) {
    .aboutSect {
        padding: 1px 0px 0px 0px;
        margin: 1px 0px 0px 0px;
    }
}

//iPhone 6/7/8 Plus landscape view

@media (width: 736px) {
    .aboutSect {
        padding: 1px 0px 0px 0px;
        margin: 4rem 0px 0px 0px !important;
    }


}

@media (min-width: 1246px) and (max-width: 1366px) {
    .aboutSect {
        left: 17%;
        top: 152px;
    }
}

@media (min-width: 1113px) and (max-width: 1245px) {
    .aboutSect {
        left: 22%;
        top: 151px;
    }

    .cardSect {
        left: 15%;
    }

    .skewCard {
        /*transform: skewX(0rad);*/
        transform: skewX(-.15rad);
        width: 520px;
    }

    .skewCardBack {
        /*transform: skewX(0rad);*/
        transform: skewX(-.15rad);
        width: 520px;
        left: -30px;
        background-size: 205%;
    }

    .cardCont {
        transform: skewX(.15rad);
        max-width: 480px;
        font-size: 1.3rem;
        text-align: left;
        color: #5c6061;
    }

    .cardSubTitle {
        font-size: 2.5rem;
        margin-top: 5rem;
    }

    .cardSubTitle img {
        max-width: 380px;
        margin: 1rem auto;
    }

    .cardCont p {
        margin-top: .5rem;
        max-width: 400px;
        left: -10px;
        font-size: 1.2rem;
    }

    .sideLine {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1112px) {
    .aboutSect {
        left: 20%;
        top: 151px;
    }

    .cardSect {
        left: 17%;
    }

    .skewCard {
        transform: skewX(-.10rad);
        width: 480px;
    }

    .skewCardBack {
        transform: skewX(-.10rad);
        width: 480px;
        left: -30px;
        background-size: 205%;
    }

    .cardCont {
        transform: skewX(.10rad);
        max-width: 480px;
        font-size: 1.3rem;
        text-align: left;
        color: #5c6061;
    }

    .cardSubTitle {
        font-size: 2.5rem;
        margin-top: 5rem;
    }

    .cardSubTitle img {
        max-width: 380px;
        margin: 1rem auto;
    }

    .cardCont p {
        margin-top: .5rem;
        max-width: 400px;
        left: -10px;
        font-size: 1.2rem;
    }

    .sideLine {
        display: none;
    }
}

@media (min-width: 1024px) {
    .mobBack {
        display: none;
    }
}


@media (max-width: 1023px) {
    .aboutMain {
        right: 0;
    }

    .aboutSect {
        left: 0;
        top: 0;
        margin: 8rem auto 5rem auto;
    }

    .cardSect {
        display: none;
    }

    .mobBack {
        display: flex;
        width: 100%;
        height: 680px;
        background-image: url("../images/aboutCode.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 1rem;
    }

    .mobCont {
        background-color: #fff;
        width: 80%;
        height: 75%;
        margin: auto;
        transform: skewX(-.10rad);
        vertical-align: middle;
    }

    .cardSubTitle {
        font-family: "Ready Player One";
        text-align: center;
        font-size: 2.8rem;
        font-weight: 500;
        margin: auto;
        padding: 3rem 5px 0 5px;
        color: #2C65AC;
        transform: skewX(.10rad);
    }

    .cardSubTitle img {
        width: 100%;
        max-width: 350px;
        padding: 0 5px;
    }

    .mobCont p {
        transform: skewX(.10rad);
        font-family: "azo-sans-web";
        position: relative;
        max-width: 425px;
        left: 5px;
        margin: -15px auto auto auto;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 15px;
    }

    .bottomSect {
        margin: 8rem auto;
        left: 0;
    }

    .bottomSect h2 {
        font-size: 1.6rem;
    }

    .botChan1 {
        line-height: 7rem;
    }


    .sideLine {
        display: none;
    }
}


@media (min-width: 376px) and (max-width: 750px) {
    .aboutSect {
        margin: 10rem auto 6rem auto;
    }

    .cardSubTitle {
        font-size: 2.7rem !important;
    }
}

@media (max-width: 375px) {
    .aboutSect {
        font-size: 3rem;
        margin: 1rem auto 2rem auto;
    }

    .aboutMain {
        padding-bottom: 1px;
    }

    .mobCont {
        width: 90%;
        height: 80%;
        transform: skewX(-.05rad);
    }

    .cardSubTitle {
        font-size: 2.5rem !important;
        transform: skewX(.05rad);
    }

    .mobCont p {
        transform: skewX(.05rad);
        font-family: "azo-sans-web";
        position: relative;
        max-width: 430px;
        left: 5px;
        margin: -15px auto auto auto;
        font-size: 1.1rem;
        font-weight: 400;
        padding: 10px 15px;
    }

    .bottomSect {
        margin: 8rem auto;
        left: 0;
    }

    .bottomSect h2 {
        font-size: 1.2rem;
    }

    .botChan1 {
        line-height: 6.5rem;
        font-size: 4.5rem;
    }

    .bottomLine {
        width: 100%;
        max-width: 280px;
    }
}

@media (max-width: 350px){
    .mobCont {
        height: 90%;
    }
}

//iPhone 6/7/8 landscape

@media (width: 667px) {
    .aboutSect {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: 1rem;
    }
}

//iPhone X landscape

@media (width: 812px) {
    .aboutSect {
        margin: 2rem;
    }
}
