/* Hover & Active Styles */

.missionIcon.true, .focusIcon.true, .realTimeIcon.true {
	fill: black;
	opacity: 1;
}

.missionIcon:hover, .missionIcon:focus, .missionText:hover, .missionText:focus, .focusIcon:hover, .focusIcon:focus, .focusText:hover, .focusText:focus, .realTimeIcon:hover, .realTimeIcon:focus {
	opacity: 0.9;
}

.focusIcon:hover, .missionIcon:hover, .realTimeIcon:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.focusIcon, .missionIcon, .realTimeIcon {
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.focusText.true, .missionText.true, .realTimeText.true {
	color: black;
	opacity: 1;
}

.courseItem .true {
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}