.heroMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 1rem;
}

// Internet Explorer Styles
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .heroBanner {
        height: 267% !important;
     }
}

.heroDivide {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 0 .5rem 0;
}

.heroCont {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3rem 8rem 8rem 2rem;
    width: 650px;
}

.azoSans {
    font-family: azo-sans-web;
}

@media (min-width: 749px) and (max-width: 900px) {
    .heroDes {
        max-width: 450px !important;
        margin: auto auto auto 0 !important;
    }
}


@media (min-width: 1800px) {
    .heroCont {
        margin: 3rem 8rem 8rem 20rem;
        width: 800px;
    }

    .heroTitleBig {
        font-size: 60px !important;
    }

    .heroTitle {
        font-size: 50px !important;
    }

    .heroDes {
        max-width: 600px;
    }
}

.downPadWrapper{
    position: relative;
    display: block;
    margin: 7rem auto 0 auto;
    transform: scaleY(-1);

}

.heroTitle {
    text-align: center;
    font-family: "Ready Player One";
    font-size: 42px;
    margin-bottom: 0;
    font-weight: 100;
}

.heroTitleBig {
    font-size: 60px;
    font-weight: 600;
}

.heroTitleSmall {
    font-size: 28px !important;
}

.heroDes {
    text-align: center;
    max-width: 525;
    margin: auto;
    font-family: "azo-sans-web";
    font-size: 20px;
}

.gradient {
    position: absolute;
    bottom: 4%;
    left: 0%;
    height: 450px;
    width: 100%;
    background-image:
        -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background-image:
        -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image:
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 1;
}

.dwnPad {
    position: absolute;
    top: 80%;
    left: 48%;
    z-index: 5;
}

.padImg {
    width: 75px;
    height: 75px;
    background-size: cover;
    display: block;
    margin: 0 auto;
}

.padDwn {
    background-image: url("../images/padDown.svg");

}

.padDwn:hover,
.padDwn:focus {
    background-image: url("../images/padDownHover.svg");
    transform: scaleY(-1);
}

//iPhone X landscape view

@media (width: 812px) {
    .gradient {
        bottom: 0%;
        z-index: -1;
        visibility: hidden;
    }

    .heroBanner {
        visibility: hidden;
    }

    .heroTitle {
        z-index: 5;
    }

    .padImg {
        margin: 250px auto;
    }

    .heroMain {
        padding: 0rem 1rem 0rem 2rem;
        margin: 0 auto;
    }
}

//iPhone 6/7/8 Plus landscape view

@media (width: 736px) {
    .heroBanner, .graident {
        visibility: hidden;
    }

    .heroMain {
        display: block;
        padding: 0px !important;
        margin: 0;
    }

    .heroCont {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin: 10px auto 10px auto;
        width: 100%;
        padding: 0 10px;
    }

    .padImg {
        margin: 160px auto;
    }
}

//iPhone 6/7/8 landscape view

@media (width: 667px) {
    .heroBanner, .gradient, .padImg {
        visibility: hidden;
    }

    .heroMain {
        padding: 0px !important;
    }

    .heroCont {
        margin-top: 2rem !important;
    }
}


@media (min-width: 901px) and (max-width: 1200px) {
    .heroCont {
        margin: 1rem 4rem;
    }

    .gradient {
        position: static;
        bottom: 4%;
        left: 0%;
        height: 450px;
        width: 100%;
        background-image:
            -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
        background-image:
            -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 2;
    }

    .dwnPad {
        position: absolute;
        bottom: 12%;
    }
}

@media (min-width: 751px) and (max-width: 900px) {
    .heroBanner {
        background-position: top;
        margin-top: 80px;
    }

    .heroCont {
        margin: 6rem 8rem 4rem 2rem;
    }

    .gradient {
        position: absolute;
        bottom: -3%;
        left: 0%;
        height: 450px;
        width: 100%;
        background-image:
            -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
        background-image:
            -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 2;
    }

    .dwnPad {
        position: absolute;
        bottom: 30%;
        left: 46%;
    }

    .heroDes {
        text-align: left;
    }

    .heroTitle {
        text-align: left;
    }
}

@media (max-width: 400px) {
    .heroTitleBig {
        font-size: 38px !important;
    }

    .heroTitleSmall {
        font-size: 17px !important;
    }
}

@media (min-width: 375px) and (max-width: 750px) {
    .heroMain {
        display: block;
        padding: 4rem 0;
        margin: 0;
    }

    .heroBanner {
        background-position: top;
        margin-top: 80px;
    }

    .heroCont {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin: 6rem auto 2rem auto;
        width: 100%;
        padding: 0 1rem;
    }

    .heroTitle {
        font-size: 1.6rem;
        text-align: left;
    }

    .heroTitleBig {
        font-size: 40px;
    }

    .heroDivide {
        max-width: 320px;
        margin-left: -.7rem;
    }

    .heroDes {
        text-align: left;
        max-width: 320px;
        font-size: 18px;
        margin-left: -.1rem;
        max-width: 80%;
    }

    .gradient {
        position: absolute;
        bottom: -9%;
        left: 0%;
        height: 300px;
        width: 100%;
        background-image:
            -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
        background-image:
            -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 0;
    }

    .dwnPad {
        position: absolute;
        bottom: 61% !important;
        left: 47%;
    }

    .padImg {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 375px) {
    .heroDivide {
        max-width: 270px;
    }
}

@media (max-width: 490px) {
    .heroCont {
        margin: 8rem auto 2rem auto;
    }
}

@media (max-width: 345px) {
    .heroTitleBig {
        font-size: 30px!important;
    }
}

@media (max-width: 374px) {
    .heroMain {
        display: block;
        padding: 4rem 0;
        margin: 0;
    }

    .heroDes {
        max-width: 90% !important;
    }

    .heroBanner {
        background-position: top;
        margin-top: 80px;
    }

    .heroCont {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin: 8rem auto 2rem auto;
        width: 100%;
        padding: 0 1rem;
    }

    .heroTitle {
        font-size: 26px;
        text-align: left;
        font-size: 1.2rem;
    }

    .heroTitleBig {
        font-size: 42px;
    }

    .heroDivide {
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1);
        max-width: 320px;
        margin-left: -.7rem;
    }

    .heroDes {
        text-align: left !important;
        max-width: 320px;
        font-size: 18px;
        margin-left: -.1rem;
        max-width: 75%;
    }

    .gradient {
        position: absolute;
        bottom: -9%;
        left: 0%;
        height: 200px;
        width: 100%;
        background-image:
            -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
        background-image:
            -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 2;
    }

    .dwnPad {
        position: absolute;
        top: 85% !important;
        left: 41%;
        width: 50px;
        height: 50px;
    }

    .padImg {
        width: 50px !important;
        height: 50px !important;
        margin: 0 auto;
    }
}

// 800 x 600 view

@media (width: 800px) {
    .dwnPad {
        position: absolute;
        top: 120% !important;
    }
}

//iPad Pro vertical view

@media (width: 834px) {
    .dwnPad {
        top: 67%;
    }
}

@media (width: 1366px) {
    .heroBanner {
        height: 128% !important;
    }
}