.heroMain {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem 1rem;
}

.heroDivide {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 0 .5rem 0;
}

.heroCont {
    justify-content: center;
    margin: 3rem 8rem 8rem 2rem;
    width: 600px;
}

.downPadWrapper{
    position: relative;
    display: block;
    margin: 0 auto;
}

.heroTitle {
    text-align: center;
    font-family: "Ready Player One";
    font-size: 42px;
    margin-bottom: 0;
    font-weight: 100;
}

.heroTitleBig {
    font-size: 86px;
    font-weight: 600;
}

.heroTitleSmall {
    font-size: 28px;
}

.heroDes {
    text-align: center;
    max-width: 525;
    margin: auto;
    font-family: "azo-sans-web";
    font-size: 22px;
}

.gradient {
    position: absolute;
    bottom: 4%;
    left: 0%;
    height: 450px;
    width: 100%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 1;
}

.dwnPad {
    position: absolute;
    top: 80%;
    left: 48%;
    z-index: 5;
}

.padImg {
    width: 75px;
    height: 75px;
    background-size: cover;
    display: block;
    margin: 0 auto;
}

.padDwn {
    background-image: url("../images/padDown.svg");

}

.padDwn:hover,
.padDwn:focus {
    background-image: url("../images/padDownHover.svg");
}

//iPhone X landscape view

@media (width: 812px) {
    .gradient {
        bottom: 0%;
        z-index: -1;
        visibility: hidden;
    }

    .heroBanner {
        visibility: hidden;
    }

    .heroTitle {
        z-index: 5;
    }

    .padImg {
        margin: 250px auto;
    }

    .heroMain {
        padding: 0rem 1rem 0rem 2rem;
        margin: 0 auto;
    }
}

//iPhone 6/7/8 Plus landscape view

@media (width: 736px) {
    .heroBanner, .graident {
        visibility: hidden;
    }

    .heroMain {
        display: block;
        padding: 0px !important;
        margin: 0;
    }

    .heroCont {
        justify-content: flex-start;
        margin: 10px auto 10px auto;
        width: 100%;
        padding: 0 10px;
    }

    .padImg {
        margin: 160px auto;
    }
}

//iPhone 6/7/8 landscape view

@media (width: 667px) {
    .heroBanner, .gradient, .padImg {
        visibility: hidden;
    }

    .heroMain {
        padding: 0px !important;
    }

    .heroCont {
        margin-top: 2rem !important;
    }
}


@media (min-width: 901px) and (max-width: 1200px) {
    .heroCont {
        margin: 1rem 4rem;
    }

    .gradient {
        position: static;
        bottom: 4%;
        left: 0%;
        height: 450px;
        width: 100%;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 2;
    }

    .dwnPad {
        position: absolute;
        bottom: 12%;
    }
}

@media (min-width: 751px) and (max-width: 900px) {
    .heroBanner {
        background-position: top;
        margin-top: 80px;
    }

    .heroCont {
        margin: 3rem 8rem 4rem 2rem;
    }

    .gradient {
        position: absolute;
        bottom: -3%;
        left: 0%;
        height: 450px;
        width: 100%;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 2;
    }

    .dwnPad {
        position: absolute;
        bottom: 30%;
        left: 46%;
    }

    .heroDes {
        text-align: left;
    }

    .heroTitle {
        text-align: left;
    }
}

@media (min-width: 375px) and (max-width: 750px) {
    .heroMain {
        display: block;
        padding: 4rem 0;
        margin: 0;
    }

    .heroBanner {
        background-position: top;
        margin-top: 80px;
    }

    .heroCont {
        justify-content: flex-start;
        margin: 5rem auto 2rem auto;
        width: 100%;
        padding: 0 1rem;
    }

    .heroTitle {
        font-size: 1.6rem;
        text-align: left;
    }

    .heroTitleBig {
        font-size: 46px;
    }

    .heroDivide {
        transform: scaleX(-1);
        max-width: 320px;
        margin-left: -.7rem;
    }

    .heroDes {
        text-align: left;
        max-width: 320px;
        font-size: 18px;
        margin-left: -.1rem;
        max-width: 65%;
    }

    .gradient {
        position: absolute;
        bottom: -9%;
        left: 0%;
        height: 300px;
        width: 100%;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 0;
    }

    .dwnPad {
        position: absolute;
        bottom: 61% !important;
        left: 47%;
    }

    .padImg {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 375px) {
    .heroDivide {
        max-width: 270px;
    }
}

@media (max-width: 374px) {
    .heroMain {
        display: block;
        padding: 4rem 0;
        margin: 0;
    }

    .heroBanner {
        background-position: top;
        margin-top: 80px;
    }

    .heroCont {
        justify-content: flex-start;
        margin: 4rem auto 2rem auto;
        width: 100%;
        padding: 0 1rem;
    }

    .heroTitle {
        font-size: 26px;
        text-align: left;
        font-size: 1.2rem;
    }

    .heroTitleBig {
        font-size: 42px;
    }

    .heroDivide {
        transform: scaleX(-1);
        max-width: 320px;
        margin-left: -.7rem;
    }

    .heroDes {
        text-align: left !important;
        max-width: 320px;
        font-size: 18px;
        margin-left: -.1rem;
        max-width: 75%;
    }

    .gradient {
        position: absolute;
        bottom: -9%;
        left: 0%;
        height: 200px;
        width: 100%;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: 2;
    }

    .dwnPad {
        position: absolute;
        top: 85% !important;
        left: 41%;
        width: 50px;
        height: 50px;
    }

    .padImg {
        width: 50px !important;
        height: 50px !important;
        margin: 0 auto;
    }
}